* {
  margin: 0;
  padding: 0;
}


h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 30pt;
}

h1 a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

h1 a:hover {
  color: brown;
}

body {
  background-color: #f6f3eb;
  padding: 1em 8em;
}

header {
  text-align: center;
}

.menu-container {
  margin-bottom: 30px;
  justify-content: center;
  min-width: 300px;
}

.menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-item {
  flex-grow: 1;
  min-width: 20%;
  text-align: center;
}

.menu-item a {
  color: black;
  text-decoration: none;
  font-size: 15pt;
  font-weight: bold;
}

.menu-item a:hover {
  color: brown;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: white;
  max-height: 500px;
  flex-basis: 0;
  flex-shrink: 0;
  min-width: 30%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
  .card a {
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

.card-image-container {
  height: 300px;
}

.card-content-container{
  height: 100px;
  margin: 0 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px 10px 0 0; 
  
}

.card-heading {
  font-size: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-weight: bold;
}

.card-description {
  padding-top: 10px;
}

@media (max-width:1474px) {
  .card {
    min-width: 45%;
  }
}

@media (max-width:1070px) {
  .card {
    min-width: 300px;
  }
}

@media (max-width:950px) {
  .card {
    min-width: 500px;
  }
}

@media (max-width:640px) {
  .card {
    min-width: 300px;
  }
}