
h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}

body {
  background-color: teal;
  padding: 1em 8em;
}

.top-menu {
  display: flex;
  justify-content: space-around;
  font-size: 16pt;
  margin-bottom: 30px;
}

.flex-container1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flex-container2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  max-height: 500px;
  width: 500px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
  .card a {
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

.card-image-container {
  height: 300px;
}

.card-content-container{
  height: 100px;
  margin: 0 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: ;
  border-radius: 10px 10px 0 0; 
  
}

.card-heading {
  font-size: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-weight: bold;
}

.card-description {

}